version: 2

jobs:
  build:
    docker:
      - image: fpco/stack-build:lts-10.5

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "stack.yaml" }}
          - v1-dependencies-

      - run:
          name: Setup GHC and dependencies
          command: |
            stack setup
            stack install --dependencies-only

      - save_cache:
          paths:
            - ~/.stack
          key: v1-dependencies-{{ checksum "stack.yaml" }}

      - run:
          name: Build and test (well, for now just build)
          command: |
            stack build

      # I would much rather use a pre-packaged version, but this will do or now
      - run:
          name: Install Docker client
          command: |
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin

      - setup_remote_docker:
          docker_layer_caching: true

      # - run:
      #     name: Build Docker image
      #     command: |
      #         docker build -t magthe/ci-test-hs:${CIRCLE_BRANCH} .
      #         docker tag magthe/ci-test-hs:${CIRCLE_BRANCH} magthe/ci-test-hs:${CIRCLE_BRANCH}-${CIRCLE_BUILD_NUM}
      #         docker login -u ${DOCKER_USER} -p ${DOCKER_PASSWD}
      #         docker push magthe/ci-test-hs

      - run:
          name: Build Docker image (stack)
          command: |
            stack image container
            docker tag ci-test-hs:latest magthe/ci-test-hs:${CIRCLE_BRANCH}
            docker tag magthe/ci-test-hs:${CIRCLE_BRANCH} magthe/ci-test-hs:${CIRCLE_BRANCH}-${CIRCLE_BUILD_NUM}
            docker login -u ${DOCKER_USER} -p ${DOCKER_PASSWD}
            docker push magthe/ci-test-hs

  verify_hlint:
    docker:
      - image: fpco/stack-build:lts-10.5

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Install hlint
          command: |
            apt-get update
            apt-get install -y hlint

      - run:
          name: Lint
          command: |
            ls -al .
            hlint .

workflows:
  version: 2
  build:
    jobs:
      - build
  verify:
    jobs:
      - verify_hlint
